.orders-table {
	margin-left: 250px;
	margin-top: 0px;
	
}

.orders-table th{
	font-size: 18px;
	text-align: left;
	padding: 10px 25px;
	background: #8256a8;
	color: white;
}

.orders-table td{
	padding: 10px 25px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.orders-table tr:nth-of-type(even) {
	background: #f3f3f3;
}

.orders-table tr:hover {
	background: #d4d4d4;
}

.orders-table tr a input {
	background: #8256a8;
	color: white;	
	width: 50px;
	height: 25px;
}

#search{
	padding: 10px 60px;
	margin-left: 68%;
	margin-top: -50px;
	text-align: left;

}

#search::placeholder{
	text-align: left;
}

#table_name{
	position: relative;
	margin-left: 250px;
	margin-top: 70px;
	
}
